{%extends "@EasyAdmin/page/content.html.twig"%}

{% block content %}
	<section>
		<h1>Bienvenue sur l'espace d'administration</h1>
		<div>
			<a href="{{path('app_home')}}">Retour sur le site Vitrine3p</a>
		</div>
	</section>
{% endblock %}
{% block javascripts %}
	<script src="{{asset('./assets/js/imageResize.js')}}"></script>
{% endblock %}