
.menu {
    position: relative;
    background-color: var(--color-one);
    border: 1px red solid;


}
.menu .navbar-fixed {
    position: fixed;
    border: 1px blue solid;
    height: fit-content;
}
.menu .navbar {
    border: 1px green solid;

}
.menu .navbar .navbar-head {
    border: 1px aqua solid;

}

.menu .navbar .navbar-menu {
    border: 1px rgb(255, 0, 200) solid;

}
.menu .navbar .navbar-menu .navbar-link {
    border: 1px rgb(229, 255, 0) solid;

}



/* *********************** 
   RESPONSIVE DESKTOP
   ************************ */

   @media screen and (min-width: 576px) {
    
    
    /*fin responsive*/
  }