@font-face {
  font-family: "Lato";
  src: url(../font/Lato-Regular.ttf);
}

@font-face {
  font-family: "Lato-bold";
  src: url(../font/Lato-Bold.ttf);
}
@font-face {
  font-family: "Lato-black";
  src: url(../font/Lato-Black.ttf);
}

:root {
  --color-one: #c49082;
  --color-one-light: #c49082be;

  --color-two: #c1baa2;
  --color-two-light: #c1baa2be;

  --color-three: #e5dacf;
  --color-three-light: #e5dacfbe;

  --color-light: #fff4ec;

  --color-four: #95999b;
  --color-four-light: #95999bbe;

  --color-five: #fff;

  --color-six: #000;
}

/* INITIALISATION */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  color: var(--color-six);
  font-size: 1rem;
  text-decoration: none;
  list-style: none;
}
main {
  min-height: 80vh;
}

img {
  width: 100%;
}
.grey {
  color: var(--color-four);
}
/*placement df*/
.dfRight {
  display: flex;
  justify-content: flex-end;
}

.dnone {
  display: none;
}

/* logo / nom entreprise */
#logo {
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem;
}

/* sections div*/
section {
  /* width: 100%; */
  padding: 1rem 2rem;
}

.premieresection {
  margin-top: 4.5rem;
}

/* paragraphes */
p {
  padding-bottom: 1rem;
}

/* TITRES */

h1 {
  font-family: "Lato-bold", Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
h2 {
  font-size: 1.3rem;
}

/* BOUTONS */
.btnAdd,
.btnOk,
.btnEdit,
.btnDelete,
.btnBack {
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 100;
  padding: 0.7rem;
  width: fit-content;
  min-width: 5rem;
  margin: 1rem;
  -webkit-box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.2);
}
.btnAdd {
  background-color: var(--color-two);
  color: var(--color-light);
}
.btnAdd:hover {
  background-color: var(--color-two-light);
}
.btnOk {
  border: none;
  background-color: var(--color-one);
  color: var(--color-light);
}
.btnOk:hover {
  background-color: var(--color-one-light);
}
.btnEdit {
  background-color: var(--color-three);
  color: var(--color-one);
}
.btnEdit:hover {
  background-color: var(--color-three-light);
}
.btnDelete {
  background-color: var(--color-four);
}
.btnDelete:hover {
  background-color: var(--color-four-light);
}
.btnBack {
  background-color: var(--color-five);
  /* border: 1px solid gray; */
}
.btnBack:hover {
  font-weight: bold;
  background-color: var(--color-four-light);
}
/*  Icones */

.iconeAjout,
.iconeOk,
.iconeModifier,
.iconeSupprimer {
  padding: 0.3rem;
  border: none;
  -webkit-box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.2);
}
.iconeAjout i,
.iconeOk i,
.iconeModifier i,
.iconeSupprimer i {
  font-size: 1.2rem;
}

.iconeAjout {
  color: var(--color-three);
}
.iconeOk {
  background-color: var(--color-three);
  color: var(--color-light);
  border-radius: 5px;
}
.iconeModifier {
  color: var(--color-two);
}
.iconeSupprimer {
  color: var(--color-four);
  background-color: #ffffff00;
}

/* IMAGES */

.image img {
  border-radius: 20%;
}

.imageRond img {
  border-radius: 50%;
}

/* MESSAGES FLASH */

.alert-success .alert-message {
  background-color: rgba(0, 100, 0, 0.3);
  color: darkgreen;
  padding: 1rem;
  font-weight: bold;
  width: 100%;
}

.alert-danger .alert-message {
  background-color: rgba(220, 20, 60, 0.3);
  color: crimson;
  padding: 1rem;
  font-weight: bold;
  width: 100%;
}

.alert-warning .alert-message {
  background-color: rgba(255, 140, 0, 0.3);
  color: darkorange;
  padding: 1rem;
  font-weight: bold;
  width: 100%;
}
.alert-warning-jaune .alert-message {
  background-color: rgba(222, 208, 82, 0.3);

  color: rgb(201, 184, 34);
  padding: 1rem;
  font-weight: bold;
  width: 100%;
}
