/* *********************** 
login
************************ */
.login p a:hover{
    text-decoration: underline;
}

.login .btnOk {
    margin-right: 0;

}

/* *********************** 
reset password
************************ */
.resetPasswordRequest h1{
    margin-top: 4rem;
}


/* *********************** 
   RESPONSIVE DESKTOP
   ************************ */

   @media screen and (min-width: 576px) {

    /*fin responsive*/
  }
  