{% extends 'base.html.twig' %}

{% block title %}Hello AaaCharteGraphiqueController!
{% endblock %}

{% block stylesheets %}
	<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
	{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}

	<!-- Font Awesome -->
	<link
	rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer"/> 
    
	{{ encore_entry_link_tags('app') }}

	<link rel="stylesheet" href="{{asset('./assets/css/style.css')}}">

{% endblock %}

{% block body %}

	&nbsp;
<section>
	<h1>Ceci est un H1</h1>
	<h2>Ceci est un H2</h2>
	<h3>Ceci est un H3</h3>
	<h4>Ceci est un H4</h4>
	<h5>Ceci est un H5</h5>
	<h6>Ceci est un H6</h6></section>

	<p>Ceci est un paragraphe ... Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, impedit modi veritatis quos nam quam labore maxime quae iusto eveniet a officiis? Laborum doloremque dolor corrupti doloribus non quis eveniet.</p>

	<ul>
		<li>liste
		</li>
		<li>liste
		</li>
		<li>liste
		</li>
		<li>liste
		</li>
	</ul>

	<a href="#">ceci est un lien</a>

	<h2>Boutons</h2>
	<div class="aaaBouton">
		<div class="aaaBoutons">
			<h3>FontAwesome</h3>
			<div>
				<!-- //guillemets -->
				<i class="fa-solid fa-quote-left"></i>
				<i class="fa-solid fa-quote-right"></i>
			</div>
			<p>
				<!-- icones utilisés
																																												   // nouveau -->
				<i class="fa-solid fa-circle-plus"></i>

				<!-- //modifier -->
				<i class="fa-solid fa-pen-to-square"></i>

				<!-- //supprimer -->
				<i class="fa-solid fa-trash-can"></i>

				<!-- //valider / étape suivante -->
				<i class="fa-solid fa-arrow-right"></i>
				<!-- //retour -->
				<i class="fa-solid fa-arrow-left"></i>

			</p>
		</div>
		<div class="aaaBoutons">
			<h3>Boutons à texte</h3>

			<a class="btnAdd" href="#">
				Ajouter </a>
			<!-- //valider -->
			<a class="btnOk" href="#">En savoir plus</a>

			<!-- //modifier -->
			<a class="btnEdit" href="#">Modifier</a>

			<!-- //supprimer -->
			<a class="btnDelete" href="#">Supprimer</a>

			<!-- //retour -->
			<a class="btnBack" href="javascript:history.go(-1)">
				<i class="fa-solid fa-arrow-left"></i>
			</a>
		</div>
		<div class="aaaBoutons">
			<h3>Boutons Icones</h3>
			<div class="aaaIcones">
				<div>
					<h4>Retour</h4>
					<a class="btnRetour" href="javascript:history.go(-1)">
						<i class="fa-solid fa-arrow-left"></i>
					</a>
				</div>
				<div>
					<h4>Ajouter</h4>
					<a class="iconeAjout" href="#">
						<i class="fa-solid fa-circle-plus"></i>
					</a>
				</div>
				<div>
					<h4>Valider</h4>
					<div>
						<p>
							balise a
							<a class="iconeOk" href="#">
								<i class="fa-solid fa-check"></i>
							</a>
						</p>
					</div>
					<div>
						<p>button
							<div class="groupeBtn">
								<button class="iconeOk">
									<i class="fa-solid fa-check"></i>
								</button>
							</div>
						</p>
					</div>
				</div>

				<div>
					<h4>Modifier</h4>
					<a class="iconeModifier" href="#">
						<i class="fa-solid fa-pen-to-square"></i>
					</a>
				</div>
				<div>
					<h4>Supprimer</h4>
					<div>
						<p>
							balise a
							<a class="iconeSupprimer" href="#">
								<i class="fa-solid fa-trash-can"></i>
							</a>
						</p>
					</div>
					<div>
						<p>button
							<button class="iconeSupprimer">
								<i class="fa-solid fa-trash-can"></i>
							</button>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>

Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis magnam recusandae aut fuga quam. Voluptas voluptatum qui temporibus sit? Voluptates amet vitae tempora numquam inventore hic corrupti possimus ipsam quos?
Veniam veritatis natus laudantium aliquid eveniet, doloribus ex minima dolores voluptate placeat culpa, quam nobis pariatur ut ratione ad saepe sint voluptatem repellendus, itaque nam harum optio dolorem. Vel, libero?
Numquam iure eos at harum voluptatum totam sequi quaerat commodi, odit delectus dolore consectetur possimus autem minus omnis nostrum ad nisi tempore. Dicta autem quas ipsam. Repudiandae sint nisi ducimus?
Nam nulla id vitae, ad expedita natus? Deserunt iusto voluptate, ipsum nulla illum minima suscipit soluta fuga nemo amet? Fugiat magnam deserunt in nihil ullam exercitationem? Aliquam numquam soluta perferendis!
Labore dignissimos, perferendis laudantium libero quod fuga illum a, reiciendis veritatis esse fugit voluptate dolores incidunt fugiat odio ipsa rem! Reiciendis obcaecati dolorem possimus earum aut cupiditate tempora eos qui.
Cumque iusto distinctio recusandae quos nulla harum repellendus cum magni, enim, repudiandae ab commodi blanditiis, consequuntur vero? Excepturi molestias veniam, assumenda ex, aliquid modi vitae commodi maiores corrupti, voluptatem doloremque.
Hic at dolorem, modi omnis ipsa quia quisquam dicta quibusdam doloribus necessitatibus esse dignissimos atque deserunt perferendis deleniti obcaecati! Impedit consequatur qui rerum numquam dolorem! Cum, sit. Officia, dolores. Rem.
Porro quam illum sed ducimus autem sapiente asperiores ullam placeat quidem praesentium ea iusto tempore dicta voluptates ex possimus beatae, aut aperiam! Architecto aliquam nihil veniam ut nesciunt sed numquam?
Voluptates saepe incidunt sed eius, nemo repellendus libero aperiam amet, optio adipisci quam, qui molestiae ducimus. Vitae porro, ipsa veniam quidem eius corporis expedita saepe sunt commodi pariatur doloremque necessitatibus.
Quaerat ullam quam, quos quia sed odio, reiciendis animi, cupiditate provident commodi nihil praesentium est accusantium inventore autem adipisci dolorem ad itaque asperiores. Exercitationem excepturi doloremque voluptate? Aut, nesciunt porro!

{% endblock %}