{% extends 'emails/base_emails.html.twig' %}

{% block body %}
	<h1>Modification de votre mot de passe</h1>


	<p>
		Bonjour
		{{ user.nom}},</p>

	<p> Vous avez souhaité modifier votre mot de passe.</p>
	<p>Pour ce faire, cliquez sur ce
		<a href="{{ absolute_url( path('app_new_password',{token:token} )) }}">Lien</a>. Attention, il expirera dans 20 minutes.</p>

	<p>Bien cordialement,</p>
	<p>Vitrine3p</p>

{% endblock %}
