{{ form_errors(form) }}

{{ form_start(form) }}
<div class="form-field">
	{{ form_row(form.nom, {
            label: 'Nouveau nom',
                   }) }}
</div>
<div class="groupeBtn">
	<button class="iconeOk">
		<i class="fa-solid fa-check"></i>
	</button>
</div>
{{ form_end(form) }}
